.vscode/
Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
Assets/*.meta
*.sln
Temp/
Assets/Fonts
Assets/Sprites
*.csproj
obj/
.utmp/
/.vs/SpaceShooter/FileContentIndex/148ec5d7-517c-468f-830c-f25c21474d29.vsidx
/.vs/SpaceShooter/v17/.suo
/.vs/SpaceShooter/FileContentIndex/93afc300-d6c0-42aa-aff3-b146fb80da3d.vsidx
/.vs/SpaceShooter/FileContentIndex/b3fe357c-00d4-4587-8c85-b7d983254e2b.vsidx
/.vs/SpaceShooter/FileContentIndex/a0bc06be-bb5f-450a-8258-29afabde7e11.vsidx
/.vs/SpaceShooter/FileContentIndex/a0bc06be-bb5f-450a-8258-29afabde7e11.vsidx
