.vscode/
Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
Assets/*.meta
*.sln
Temp/
Assets/Fonts
Assets/Sprites
*.csproj
obj/
.utmp/
/.vs/SpaceShooter/FileContentIndex/148ec5d7-517c-468f-830c-f25c21474d29.vsidx
/.vs/SpaceShooter/v17/.suo
